{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "36",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}